.most-popular-products-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 4px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f0f0f0;

  &:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px) scale(1.01);
    transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}
