*/migrations/*[^_].py
package-lock.json
*/static/js/*jpeg
*/static/js/*webp
*/static/js/*txt
*/static/js/*png
*/static/js/*jpg
*/static/js/*svg
*/static/js/*js
postgres_data
node_modules
images/*webp
images/*jpeg
images/*jpg
images/*png
images/*svg
__pycache__
.vscode
backup
*.pyc
venv*
dist
.env
