.modal-page {
    background-color: rgba($color: #ccc, $alpha: 0.95);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    left: 0;
    top: 0;

    justify-content: center;
    display: flex;

    &>.modal-wrapper {
        min-height: 150px;
        min-width: 150px;
        margin-top: 3rem;
        max-height: 90%;
        max-width: 90%;

        &>.cross {
            justify-content: end;
            display: flex;

            &>div {
                background-color: white;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                cursor: pointer;
                display: flex;
                height: 40px;
                width: 40px;

                &>img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}